# CONFIG
PORT=8000
NODE_ENV=development
MONGO_URI=mongodb+srv://example
SESSION_SECRET=secret

# AUTHENTICATION
ADMIN_PASSWORD=adminPassword
USER_PASSWORD=userPassword

# Roll call PowerPoint slide background image
ROLL_CALL_SLIDE_BACKGROUND=image

# 3RD PARTY SERVICES
ANTHROPIC_API_KEY=anthropicApiKey
ANTHROPIC_MODEL=anthropicModel

AWS_ACCESS_KEY_ID=awsAccessKey
AWS_SECRET_ACCESS_KEY=awsSecretAccessKey
AWS_VERIFIED_EMAIL=awsVerifiedEmail